body {
	background-color: #E7CBC4;
	margin: 50px 50px;
}
table tr td {
	text-align: center;
	font-family: tahoma;
	font-size: 12px;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid grey;
	width: 220px;
	height: 55px;
}
.black {
	background: linear-gradient(to top, #2F383A, #272F33);
	color: white;
	font-weight: bold;
	border: 1px solid #1A2023;
}

.red {
	background: linear-gradient(to top, #DC5949, #EB6A58);
	color: white;
	text-align: center;
	border-top: 1px solid #DC5949;
	border-bottom: 1px solid #EB6A58;
	border-left: 1px solid #EB6A58;
	border-right: 1px solid #EB6A58;
}

.white {
	background: linear-gradient(to top, #F0F0F0, #EAEAE9);
	color: black;
	border: 2px solid #DCDCDC;
}

.first_cell {
	border: none;
}

.buttons {
	width: 90px;
	height: 35px;
	border-radius: 5px;
	outline: none;
	text-decoration: none;
}